.background {
  background-color: black;
}
 .red-text {
color: red;
font-size: 35px;
}
 .new-font {
font-family: Comic Sans MS;
  font-size: 20px;
 	color: rgb(17, 221, 0);
 }
 p {
 	font-family: 'Arvo', serif; 
	color: gold;
}
 .smaller-text {
 font-size: 13px;
 font-weight: bolder;
 }
 .bigger-text {
 font-size: 25px;
 font-family: Trebuchet MS;
 color: yellow;
 }
 .links {
 	color: orange;
 	font-size: 15px;
 	font-family: Trebuchet MS;

 }
