.background {
  background-color: black;
}
 .red-text {
color: red;
font-size: 35px;
line-height: .75em;
}
 .new-font {
font-family: Comic Sans MS;
  font-size: 20px;
 	color: rgb(247, 106, 55);
 }

 .smaller-text {
 font-size: 13px;
 font-weight: bolder
 color:rgb(75, 194, 223);
 }

 p {
 	font-family: 'Arvo', serif; 
	color: rgb(0, 255, 0);
}

 .bigger-text {
 font-size: 25px;
 font-family: Trebuchet MS;
 color: yellow;
 }
 .links {
 	color: orange;
 	font-size: 15px;
 	font-family: Trebuchet MS;

 }
 .copyright {
 	font-size: 13px;
 	font-weight: bolder;
 	color: rgb(75, 194, 223);
 }
